{% extends 'student/userBase.html' %}
{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Dashboard</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="row">
            <!-- Courses Assigned Widget -->
            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="mdi mdi-book-open-page-variant widget-icon"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Number of Courses">Courses Assigned</h5>
                        <h3 class="mt-3 mb-3">  courses_assigned   </h3>
                        <p class="mb-0 text-muted">
                            <span class="text-success me-2">
                                <i class="mdi mdi-arrow-up-bold"></i>   course_percentage   %
                            </span>
                            <span class="text-nowrap">At this semester</span>
                        </p>
                    </div>
                </div>
            </div>
    
            <!-- Classes Assigned Widget -->
            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="mdi mdi-account-group-outline widget-icon"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Number of Classes">Classes Assigned</h5>
                        <h3 class="mt-3 mb-3">  classes_assigned   </h3>
                        <p class="mb-0 text-muted">
                            <span class="text-success me-2">
                                <i class="mdi mdi-arrow-down-bold"></i>   class_percentage   %
                            </span>
                            <span class="text-nowrap">At this semester</span>
                        </p>
                    </div>
                </div>
            </div>
    
            <!-- Periods Given Weekly Widget -->
            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="mdi mdi-calendar-clock widget-icon"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Courses Given Weekly">Periods Given Weekly</h5>
                        <h3 class="mt-3 mb-3">  weekly_courses_given   </h3>
                        <p class="mb-0 text-muted">
                            <span class="text-success me-2">
                                <i class="mdi mdi-arrow-down-bold"></i>   weekly_course_percentage   
                            </span>
                            <span class="text-nowrap">At this semester</span>
                        </p>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    
        <div class="row">
            <!-- Exams Taken Widget -->
            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="mdi mdi-school-outline widget-icon"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Exams Conducted">Exams Taken</h5>
                        <h3 class="mt-3 mb-3">  exams_taken   </h3>
                        <p class="mb-0 text-muted">
                            <span class="text-success me-2">
                                <i class="mdi mdi-arrow-up-bold"></i>   exam_percentage  
                            </span>
                            <span class="text-nowrap">At this semester</span>
                        </p>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end col -->
    

    {% endblock %}