<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Voting System{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="SomaliRealEState" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="../../static/images/logo.png">
    <!-- third party css -->
    <link href="../../static/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <!-- App css -->
    <link href="../../static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="../../static/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />


    <link href="../../static/assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />






</head>

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>

    <!-- Pre-loader -->
    <div id="preloader">
        <div id="status">
            <div class="bouncing-loader">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- End Preloader-->

    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- LOGO -->
            <a href="{{url_for('dashboard_admin')}}" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="../../static/images/logo.png" alt="" height="50">
                </span>
                <span class="logo-sm">
                    <img src="../../static/images/logo3.png" alt="" height="30">
                </span>
            </a>

            <!-- LOGO -->
            <a href="index.html" class="logo text-center logo-dark">
                <span class="logo-lg">
                    <img src="../../static/images/dark_logo.png" alt="" height="50">
                </span>
                <span class="logo-sm">
                    <img src="../../static/images/dark_logo2.png" alt="" height="30">
                </span>
            </a>

            <div class="h-100" id="leftside-menu-container" data-simplebar>

                <!--- Sidemenu -->
                <ul class="side-nav">

                    <!-- 1️⃣ Dashboard -->
                    <li class="side-nav-item">
                        <a href="{{url_for('dashboard_admin')}}" class="side-nav-link">
                            <i class="uil-dashboard"></i>
                            <span> Dashboard </span>
                        </a>
                    </li>

                    <li class="side-nav-title side-nav-item">Apps</li>

                    <!-- 2️⃣ Students -->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarStudents" aria-expanded="false"
                            aria-controls="sidebarStudents" class="side-nav-link">
                            <i class="fa-solid fa-graduation-cap fs-5"></i>
                            <span> Students </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarStudents">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="{{url_for('register_students')}}">Register Student</a>
                                </li>
                                <li>
                                    <a href="{{url_for('view_students')}}">View Students</a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <!-- 3️⃣ Teachers -->
                    <!-- <li class="side-nav-item d-none">
                        <a data-bs-toggle="collapse" href="#sidebarTeachers" aria-expanded="false"
                            aria-controls="sidebarTeachers" class="side-nav-link">
                            <i class="fa-solid fa-chalkboard-user fs-5"></i>
                            <span> Teachers </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarTeachers">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="{{url_for('register_teacher')}}">Register Teacher</a>
                                </li>
                                <li>
                                    <a href="{{url_for('view_teacher')}}">View Teachers</a>
                                </li>

                            </ul>
                        </div>
                    </li> -->

                    <!-- 4️⃣ Elections -->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarElections" aria-expanded="false"
                            aria-controls="sidebarElections" class="side-nav-link">
                            <i class="fa-solid fa-vote-yea fs-5"></i>
                            <span> Elections </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarElections">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="{{url_for('register_election')}}">Create Election</a>
                                </li>
                                <li>
                                    <a href="{{url_for('view_election')}}">View Elections</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!-- 5️⃣ Candidates -->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarCandidates" aria-expanded="false"
                            aria-controls="sidebarCandidates" class="side-nav-link">
                            <i class="uil-users-alt"></i>
                            <span> Candidates </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarCandidates">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="{{url_for('register_candidates')}}">Register Candidate</a>
                                </li>
                                <li>
                                    <a href="{{url_for('view_candidates')}}">View Candidates</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!-- 6️⃣ Votes -->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarVotes" aria-expanded="false"
                            aria-controls="sidebarVotes" class="side-nav-link">
                            <i class="uil-check-square"></i>
                            <span> Votes </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="sidebarVotes">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="{{url_for('live_results_page')}}">Live Results</a>
                                </li>
                                <li>
                                    <a href="{{url_for('view_votes_page')}}">View Votes</a>
                                </li>
                                <li>
                                    <a href="{{url_for('final_results_page')}}">Final Results</a>
                                </li>
                            </ul>
                        </div>
                    </li>




                    <!-- 7️⃣ Logout -->
                    <li class="side-nav-item">
                        <a href="{{url_for('logout_admin')}}" class="side-nav-link">
                            <i class="uil-sign-out-alt"></i>
                            <span> Logout </span>
                        </a>
                    </li>
                </ul>



            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-menu float-end mb-0">
                        <li class="dropdown notification-list d-lg-none">
                            <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="dripicons-search noti-icon"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                                <form class="p-3">
                                    <input type="text" class="form-control" placeholder="Search ..."
                                        aria-label="Recipient's username">
                                </form>
                            </div>
                        </li>

                        <li class="notification-list">
                            <a class="nav-link end-bar-toggle" href="javascript: void(0);">
                                <i class="dripicons-gear noti-icon"></i>
                            </a>
                        </li>

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown"
                                href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <div class="bg-primary rounded-pill d-flex align-items-center justify-content-center"
                                        style="width: 35px; height: 35px;">
                                        <span class="text-white text-uppercase">{{ admin.name.split(' ')[0][0] ~
                                            admin.name.split(' ')[1][0] }}</span>
                                    </div>
                                </span>
                                <span>
                                    <span class="account-user-name text-capitalize">{{ admin.name.split(' ')[0] ~ ' ' ~
                                        admin.name.split(' ')[1] }}
                                    </span>
                                    <span class="account-position">Admin</span>
                                </span>
                            </a>
                            <div
                                class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                <!-- item-->
                                <div class=" dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome !</h6>
                                </div>

                                <!-- item-->
                                <a href="{{url_for('profile_admin')}}" class="dropdown-item notify-item">
                                    <i class="mdi mdi-account-circle me-1"></i>
                                    <span>My Account</span>
                                </a>

                                <!-- item-->
                                <a href="#changePasswordModal" class="dropdown-item notify-item" data-bs-toggle="modal"
                                    data-bs-target="#changePasswordModal">
                                    <i class="mdi mdi-account-edit me-1"></i>
                                    <span>Change Password</span>
                                </a>

                                <!-- item-->
                                <a href="{{url_for('logout_admin')}}" class="dropdown-item notify-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>

                    </ul>
                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    <div class="app-search dropdown d-none d-lg-block">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control dropdown-toggle" placeholder="Search..."
                                    id="top-search">
                                <span class="mdi mdi-magnify search-icon"></span>
                                <button class="input-group-text btn-primary" type="submit">Search</button>
                            </div>
                        </form>

                        
                    </div>
                </div>
                <!-- end Topbar -->

                <!-- Start Content-->
                <div class="container-fluid">

                    {% block content %}{% endblock %}


                </div> <!-- container -->

            </div> <!-- content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <script>document.write(new Date().getFullYear())</script> © Khaliil & Garsame
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end footer-links d-none d-md-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->


    <!-- Right Sidebar -->
    <div class="end-bar">

        <div class="rightbar-title">
            <a href="javascript:void(0);" class="end-bar-toggle float-end">
                <i class="dripicons-cross noti-icon"></i>
            </a>
            <h5 class="m-0">Settings</h5>
        </div>

        <div class="rightbar-content h-100" data-simplebar>

            <div class="p-3">
                <div class="alert alert-warning" role="alert">
                    <strong>Customize </strong> the overall color scheme, sidebar menu, etc.
                </div>

                <!-- Settings -->
                <h5 class="mt-3">Color Scheme</h5>
                <hr class="mt-1" />

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="light"
                        id="light-mode-check" checked>
                    <label class="form-check-label" for="light-mode-check">Light Mode</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="dark"
                        id="dark-mode-check">
                    <label class="form-check-label" for="dark-mode-check">Dark Mode</label>
                </div>


                <!-- Width -->
                <h5 class="mt-4">Width</h5>
                <hr class="mt-1" />
                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="width" value="fluid" id="fluid-check" checked>
                    <label class="form-check-label" for="fluid-check">Fluid</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="width" value="boxed" id="boxed-check">
                    <label class="form-check-label" for="boxed-check">Boxed</label>
                </div>


                <!-- Left Sidebar-->
                <h5 class="mt-4">Left Sidebar</h5>
                <hr class="mt-1" />
                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="theme" value="default" id="default-check">
                    <label class="form-check-label" for="default-check">Default</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="theme" value="light" id="light-check" checked>
                    <label class="form-check-label" for="light-check">Light</label>
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" name="theme" value="dark" id="dark-check">
                    <label class="form-check-label" for="dark-check">Dark</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="compact" value="fixed" id="fixed-check"
                        checked>
                    <label class="form-check-label" for="fixed-check">Fixed</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="compact" value="condensed"
                        id="condensed-check">
                    <label class="form-check-label" for="condensed-check">Condensed</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="compact" value="scrollable"
                        id="scrollable-check">
                    <label class="form-check-label" for="scrollable-check">Scrollable</label>
                </div>

                <div class="d-grid mt-4">
                    <button class="btn btn-primary" id="resetBtn">Reset to Default</button>

                    <a href="https://themes.getbootstrap.com/product/hyper-responsive-admin-dashboard-template/"
                        class="btn btn-warning mt-3" target="_blank"><i class="mdi mdi-basket me-1"></i> Purchase Now</a>
                </div>
            </div> <!-- end padding-->

        </div>
    </div>

    <div class="rightbar-overlay"></div>
    <!-- /End-bar -->

    <!-- Change Password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Change Password
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form with spinner and alerts -->
                    <!-- Form with spinner inside the button -->
                    <form id="changePasswordForm">
                        <div class="alert alert-danger d-none" id="passwordError"></div>
                        <div class="alert alert-success d-none" id="passwordSuccess"></div>
                        <input type="hidden" id="admin_id" name="admin_id" value="{{admin.id}}">

                        <!-- Current Password -->
                        <div class="mb-3">
                            <label for="oldPassword" class="form-label">Current
                                Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control p-2 rounded-start rounded-end-0"
                                    id="oldPassword" name="old_password" required>
                                <button class="btn btn-light toggle-password shadow-none position-relative"
                                    type="button" onclick="togglePasswordVisibility('oldPassword', this)">
                                    <i class="fa fa-eye-slash"></i>
                                </button>
                            </div>
                            <div class="invalid-feedback text-danger" id="oldPasswordFeedback"></div>
                        </div>

                        <!-- New Password -->
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control p-2 rounded-start rounded-end-0"
                                    id="newPassword" name="new_password" required>
                                <button class="btn btn-light toggle-password shadow-none position-relative"
                                    type="button" onclick="togglePasswordVisibility('newPassword', this)">
                                    <i class="fa-solid fa-eye-slash"></i>
                                </button>
                            </div>
                            <div class="invalid-feedback text-danger" id="newPasswordFeedback"></div>
                        </div>

                        <!-- Confirm Password -->
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm New
                                Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control p-2 rounded-start rounded-end-0"
                                    id="confirmPassword" name="confirm_password" required>
                                <button class="btn btn-light toggle-password shadow-none position-relative"
                                    type="button" onclick="togglePasswordVisibility('confirmPassword', this)">
                                    <i class="fa-solid fa-eye-slash"></i>
                                </button>
                            </div>
                            <div class="invalid-feedback text-danger" id="confirmPasswordFeedback"></div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="changePasswordBtn"
                        onclick="submit_password_admin()">
                        <span id="spinner" class="spinner-border spinner-border-sm me-2 d-none" role="status"
                            aria-hidden="true"></span>
                        <span id="btnText">Change Password</span>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!-- bundle -->
    <script src="../../static/assets/js/vendor.min.js"></script>
    <script src="../../static/assets/js/app.min.js"></script>

    <!-- Apex js -->
    <script src="../../static/assets/js/vendor/apexcharts.min.js"></script>

    <!-- Todo js -->
    <script src="../../static/assets/js/ui/component.todo.js"></script>

    <!-- demo app -->
    <script src="../../static/assets/js/pages/demo.dashboard-crm.js"></script>
    <!-- end demo js-->

    <!-- third party js -->
    <script src="../../static/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="../../static/assets/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="../../static/assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="../../static/assets/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="../../static/assets/js/vendor/dataTables.checkboxes.min.js"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script src="../../static/assets/js/pages/demo.customers.js"></script>
    <!-- end demo js-->

    <script src="{{url_for('static', filename='admin/js/admin_password_change.js')}}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const body = document.body;
            const lightModeToggle = document.getElementById('light-mode-check');
            const darkModeToggle = document.getElementById('dark-mode-check');

            // 🔹 Apply the saved theme on page load
            const savedTheme = localStorage.getItem('themeMode') || 'light';
            applyTheme(savedTheme);

            // 🔹 Light mode toggle
            lightModeToggle.addEventListener('change', function () {
                if (this.checked) {
                    darkModeToggle.checked = false;
                    applyTheme('light');
                    localStorage.setItem('themeMode', 'light');
                }
            });

            // 🔹 Dark mode toggle
            darkModeToggle.addEventListener('change', function () {
                if (this.checked) {
                    lightModeToggle.checked = false;
                    applyTheme('dark');
                    localStorage.setItem('themeMode', 'dark');
                }
            });

            // 🔹 Function to apply the theme
            function applyTheme(mode) {
                const config = body.getAttribute("data-layout-config");
                const configObj = JSON.parse(config);

                if (mode === 'dark') {
                    configObj.darkMode = true;
                    body.setAttribute("data-layout-config", JSON.stringify(configObj));
                    document.getElementById('dark-style').disabled = false;
                    document.getElementById('light-style').disabled = true;
                    darkModeToggle.checked = true;
                    lightModeToggle.checked = false;
                } else {
                    configObj.darkMode = false;
                    body.setAttribute("data-layout-config", JSON.stringify(configObj));
                    document.getElementById('dark-style').disabled = true;
                    document.getElementById('light-style').disabled = false;
                    darkModeToggle.checked = false;
                    lightModeToggle.checked = true;
                }
            }
        });
    </script>

</body>

</html>