{% extends 'admin/admin_base.html' %}
{% block content %}
<title>{% block title %}Admin | Dashboard{% endblock %}</title>
<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">VotingSchool</a></li>
          <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
      <h4 class="page-title">Dashboard</h4>
    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <!-- Registered Students -->
      <div class="col-lg-3">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end">
              <i class="mdi mdi-account-multiple widget-icon"></i>
            </div>
            <h5 class="text-muted fw-normal mt-0">Registered Students</h5>
            <h3 class="mt-3 mb-3">{{ dashboard_data.registered_students.count }}</h3>
            <p class="mb-0 text-muted">
              {% if dashboard_data.registered_students.direction == 'up' %}
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> {{
                dashboard_data.registered_students.change }}%</span>
              {% else %}
              <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> {{
                dashboard_data.registered_students.change }}%</span>
              {% endif %}
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>

      <!-- Upcoming Elections -->
      <div class="col-lg-3">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end">
              <i class="mdi mdi-calendar-clock widget-icon"></i>
            </div>
            <h5 class="text-muted fw-normal mt-0">Upcoming Elections</h5>
            <h3 class="mt-3 mb-3">{{ dashboard_data.upcoming_elections.count }}</h3>
            <p class="mb-0 text-muted">
              {% if dashboard_data.upcoming_elections.direction == 'up' %}
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> {{
                dashboard_data.upcoming_elections.change }}%</span>
              {% else %}
              <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> {{
                dashboard_data.upcoming_elections.change }}%</span>
              {% endif %}
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>

      <!-- Total Votes Submitted -->
      <div class="col-lg-3">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end">
              <i class="mdi mdi-ballot-recount widget-icon"></i>
            </div>
            <h5 class="text-muted fw-normal mt-0">Total Votes Submitted</h5>
            <h3 class="mt-3 mb-3">{{ dashboard_data.total_votes.count }}</h3>
            <p class="mb-0 text-muted">
              {% if dashboard_data.total_votes.direction == 'up' %}
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> {{ dashboard_data.total_votes.change
                }}%</span>
              {% else %}
              <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> {{
                dashboard_data.total_votes.change }}%</span>
              {% endif %}
              <span class="text-nowrap">Since last week</span>
            </p>
          </div>
        </div>
      </div>

      <!-- Active Elections -->
      <div class="col-lg-3">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end">
              <i class="mdi mdi-vote-outline widget-icon"></i>
            </div>
            <h5 class="text-muted fw-normal mt-0">Active Elections</h5>
            <h3 class="mt-3 mb-3">{{ dashboard_data.active_elections.count }}</h3>
            <p class="mb-0 text-muted">
              {% if dashboard_data.active_elections.direction == 'up' %}
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> {{
                dashboard_data.active_elections.change }}%</span>
              {% else %}
              <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> {{
                dashboard_data.active_elections.change }}%</span>
              {% endif %}
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="row">
      <!-- All Elections -->
      <div class="col-lg-3">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end">
              <i class="mdi mdi-account-star widget-icon"></i>
            </div>
            <h5 class="text-muted fw-normal mt-0">All Elections</h5>
            <h3 class="mt-3 mb-3">{{ dashboard_data.all_elections.count }}</h3>
            <p class="mb-0 text-muted">
              {% if dashboard_data.all_elections.direction == 'up' %}
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> {{
                dashboard_data.all_elections.change }}%</span>
              {% else %}
              <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> {{
                dashboard_data.all_elections.change }}%</span>
              {% endif %}
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>

      <!-- Approved Candidates -->
      <div class="col-lg-3">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end">
              <i class="mdi mdi-account-check-outline widget-icon"></i>
            </div>
            <h5 class="text-muted fw-normal mt-0">Approved Candidates</h5>
            <h3 class="mt-3 mb-3">{{ dashboard_data.approved_candidates.count }}</h3>
            <p class="mb-0 text-muted">
              {% if dashboard_data.approved_candidates.direction == 'up' %}
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> {{
                dashboard_data.approved_candidates.change }}%</span>
              {% else %}
              <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> {{
                dashboard_data.approved_candidates.change }}%</span>
              {% endif %}
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>

      <!-- Pending Candidates -->
      <div class="col-lg-3">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end">
              <i class="mdi mdi-clock-outline widget-icon"></i>
            </div>
            <h5 class="text-muted fw-normal mt-0">Pending Candidates</h5>
            <h3 class="mt-3 mb-3">{{ dashboard_data.pending_candidates.count }}</h3>
            <p class="mb-0 text-muted">
              {% if dashboard_data.pending_candidates.direction == 'up' %}
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> {{
                dashboard_data.pending_candidates.change }}%</span>
              {% else %}
              <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> {{
                dashboard_data.pending_candidates.change }}%</span>
              {% endif %}
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>

      <!-- System Users -->
      <div class="col-lg-3">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end">
              <i class="mdi mdi-account-group widget-icon"></i>
            </div>
            <h5 class="text-muted fw-normal mt-0">System Users</h5>
            <h3 class="mt-3 mb-3">{{ dashboard_data.system_users.count }}</h3>
            <p class="mb-0 text-muted">
              {% if dashboard_data.system_users.direction == 'up' %}
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> {{
                dashboard_data.system_users.change }}%</span>
              {% else %}
              <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> {{
                dashboard_data.system_users.change }}%</span>
              {% endif %}
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end row -->


{% endblock %}