{% extends 'admin/admin_base.html' %}
{% block content %}
<title>{% block title %}Admin | View students{% endblock %}</title>

<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">VotingSchool</a></li>
          <li class="breadcrumb-item"><a href="javascript: void(0);">View Students</a></li>
          <li class="breadcrumb-item active">Students</li>
        </ol>
      </div>
      <h4 class="page-title">Students</h4>
    </div>
  </div>
</div>
<!-- end page title -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-sm-4">
            <a href="{{url_for('register_students')}}" class="btn btn-dark mb-2"><i
                class="mdi mdi-plus-circle me-2"></i> Add Student</a>
          </div>
          <div class="col-sm-8">
            <div class="text-sm-end">
              <button type="button" class="btn btn-primary mb-2 me-1"><i class="mdi mdi-cog"></i></button>
              <a href="#" class="btn btn-light mb-2" onclick="window.print()">Export</a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-centered table-striped dt-responsive nowrap w-100" id="students-datatable">
            <thead>
              <tr>
                <th style="width: 20px;">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="customCheck1">
                    <label class="form-check-label" for="customCheck1">&nbsp;</label>
                  </div>
                </th>
                <th>No</th>
                <th>Student Name</th>
                <th>Student ID</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              {% if students_table %}
              {% for student in students_table %}
              <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check{{student.id}}">
                    <label class="form-check-label" for="check{{student.id}}">&nbsp;</label>
                  </div>
                </td>

                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.school_id}}</td>

                <td>
                  <a href="#" class="action-icon" data-bs-toggle="modal"
                    data-bs-target="#updateStudentModal{{ student.id }}">
                    <i class="mdi mdi-square-edit-outline"></i>
                  </a>

                  <a href="#" class="action-icon" data-bs-toggle="modal"
                    data-bs-target="#updatePasswordModal{{ student.id }}">
                    <i class="mdi mdi-lock-outline"></i>
                  </a>
                </td>
              </tr>

              <!-- Update Student Modal -->
              <div class="modal fade" id="updateStudentModal{{ student.id }}" tabindex="-1"
                aria-labelledby="updateStudentModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Update Student details</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="card-body">
                      <!-- Your existing form content -->
                      <form id="student_form{{student.id}}" class="needs-validation" novalidate>
                        <div class="alert alert-success d-none" role="alert" id="succ_msg{{student.id}}">
                          A simple success alert—check it out!
                        </div>
                        <div class="alert alert-danger d-none" role="alert" id="err_msg{{student.id}}">
                          A simple danger alert—check it out!
                        </div>
                        <input type="hidden" id="id{{student.id}}" value="{{student.id}}">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="mb-3">
                              <label for="name{{student.id}}" class="form-label">Full Name
                                <span class="text-danger">*</span></label>
                              <input class="form-control" type="text" placeholder="Enter your full name"
                                id="name{{student.id}}" value="{{student.name}}" required />
                              <div id="name_error{{student.id}}" class="text-danger mt-1"></div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label for="student_id{{student.id}}" class="form-label">Student ID
                                <span class="text-danger">*</span></label>
                              <input class="form-control" type="text" id="student_id{{student.id}}"
                                placeholder="Enter student ID: 43556" value="{{student.school_id}}" required />
                              <div id="student_id_error{{student.id}}" class="text-danger mt-1"></div>
                            </div>
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-sm-12 text-sm-end">
                            <button id="submit_button{{student.id}}" class="btn btn-primary" type="button"
                              onclick="student_registration(`{{student.id}}`)">
                              <span class="button-text">Submit form</span>
                              <span id="spinner{{student.id}}" class="spinner-border spinner-border-sm d-none"></span>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Update Password Modal -->
              <div class="modal fade" id="updatePasswordModal{{ student.id }}" tabindex="-1"
                aria-labelledby="updatePasswordModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Change Password</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="card-body">
                      <!-- Your existing password form -->
                      <form id="password_form{{student.id}}" class="needs-validation" novalidate>
                        <div class="alert alert-success d-none" role="alert" id="succ_msg_pass{{student.id}}">
                          A simple success alert—check it out!
                        </div>
                        <div class="alert alert-danger d-none" role="alert" id="err_msg_pass{{student.id}}">
                          A simple danger alert—check it out!
                        </div>
                        <input type="hidden" id="id_pass{{student.id}}" value="{{student.id}}">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="mb-3">
                              <label for="password{{student.id}}" class="form-label">New Password</label>
                              <div class="input-group">
                                <input type="password" class="form-control p-2 rounded-start rounded-end-0"
                                  id="password{{student.id}}" name="password{{student.id}}" required>
                                <button class="btn btn-light toggle-password shadow-none position-relative"
                                  type="button" onclick="togglePassword('password','{{student.id}}', this)">
                                  <i class="fa-solid fa-eye-slash"></i>
                                </button>
                              </div>
                              <div class="text-danger mt-1" id="passError{{student.id}}"></div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label for="confirm_password{{student.id}}" class="form-label">Confirm New
                                Password</label>
                              <div class="input-group">
                                <input type="password" class="form-control p-2 rounded-start rounded-end-0"
                                  id="confirm_password{{student.id}}" name="confirm_password{{student.id}}" required>
                                <button class="btn btn-light toggle-password shadow-none position-relative"
                                  type="button" onclick="togglePassword('confirm_password','{{student.id}}', this)">
                                  <i class="fa-solid fa-eye-slash"></i>
                                </button>
                              </div>
                              <div class="text-danger mt-1" id="ConfirmError{{student.id}}"></div>
                            </div>
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-sm-12 text-sm-end">
                            <button id="submit_button_pass{{student.id}}" class="btn btn-primary" type="button"
                              onclick="change_password_student(`{{student.id}}`)">
                              <span class="button-text">Submit form</span>
                              <span id="spinner_pass{{student.id}}"
                                class="spinner-border spinner-border-sm d-none"></span>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              {% endfor %}
              {% else %}
              <tr>
                <td colspan="5" class="text-center">No students found</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end row -->

<script src="{{url_for('static', filename = 'admin/js/view_students.js')}}"></script>
<!-- Add this script block -->
<script>
  // Initialize DataTable when document is ready
  document.addEventListener('DOMContentLoaded', function () {
    $('#students-datatable').DataTable();
  });
</script>
{% endblock %}