{% extends 'admin/admin_base.html' %}
{% block content %}
<title>{% block title %}Admin | View teachers{% endblock %}</title>

<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);"  class="text-success">voting system</a></li>
          <li class="breadcrumb-item active">View Teachers</li>
        </ol>
      </div>
      <h4 class="page-title">All Teachers Details</h4>
    </div>
  </div>
</div>
<!-- end page title -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-sm-4">
            <a href="{{url_for('register_teacher')}}" class="btn btn-dark mb-2"><i class="mdi mdi-plus-circle me-2"></i> Add teacher</a>
          </div>
          <div class="col-sm-8">
            <div class="text-sm-end">
              <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog"></i></button>
              <a href="#" class="btn btn-light mb-2" onclick="window.print()">Export</a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table id="basic-datatable" class="table dt-responsive nowrap w-100">
            <thead>
              <tr>
                <th>No</th>
                <th>Teacher Name</th>
                <th>Teacher ID</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {%if teachers_table%}
              {%for teacher in teachers_table%}
              <tr>
                <td>{{teacher.id}}</td>
                <td>{{teacher.name}}</td>
                <td>{{teacher.teacher_id}}</td>
                <td class="d-flex">
                  <div class="dropdown dropstart">
                    <div class="dropdown dropstart">
                      <!-- Dropdown Toggle Button -->
                      <a href="#" class="action-icon" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                      </a>
                      <!-- Dropdown Menu (appears only when opened) -->
                      <ul class="dropdown-menu">
                        <li>
                          <a href="#" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#updateteacherModal{{ teacher.id }}" data-id="{{ teacher.id }}">
                            <i class="mdi mdi-square-edit-outline me-1"></i> Edit Details
                          </a>
                        </li>

                        <li>
                          <a href="#" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#updatePasswordModal{{ teacher.id }}" data-id="{{ teacher.id }}">
                            <i class="mdi mdi-lock-outline me-1"></i> Change Password
                          </a>
                        </li>
                      </ul>
                    </div>


                  </div>
                </td>
                <!-- Modal for teacher details change -->
                <div class="modal fade" id="updateteacherModal{{ teacher.id }}" tabindex="-1"
                  aria-labelledby="updateteacherModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="updateteacherModalLabel">Update teacher details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>
                      <div class="card-body">
                        <form id="teacher_form{{teacher.id}}" class="needs-validation" novalidate>
                          <div class="alert alert-success d-none" role="alert" id="succ_msg{{teacher.id}}">
                            A simple success alert—check it out!
                          </div>
                          <div class="alert alert-danger d-none" role="alert" id="err_msg{{teacher.id}}">
                            A simple danger alert—check it out!
                          </div>
                          <input type="hidden" id="id{{teacher.id}}" value="{{teacher.id}}">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="mb-3">
                                <label for="name{{teacher.id}}" class="form-label">Full Name
                                  <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" placeholder="Enter your full name"
                                  id="name{{teacher.id}}" value="{{teacher.name}}" required />
                                <div id="name_error{{teacher.id}}" class="text-danger mt-1"></div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="mb-3">
                                <label for="teacher_id{{teacher.id}}" class="form-label">teacher ID
                                  <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="teacher_id{{teacher.id}}"
                                  placeholder="Enter teacher ID: 43556" value="{{teacher.teacher_id}}" required />
                                <div id="teacher_id_error{{teacher.id}}" class="text-danger mt-1"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row mt-4">
                            <div class="col-sm-12 text-sm-end">
                              <button id="submit_button{{teacher.id}}" class="btn btn-success" type="button"
                                onclick="teacher_registration(`{{teacher.id}}`)">
                                <span class="button-text">Submit form</span>
                                <span id="spinner{{teacher.id}}" class="spinner-border spinner-border-sm d-none"></span>
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- update password -->
                <div class="modal fade" id="updatePasswordModal{{ teacher.id }}" tabindex="-1"
                  aria-labelledby="updatePasswordModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="updatePasswordModalLabel">Update teacher details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>
                      <div class="card-body">
                        <form id="password_form{{teacher.id}}" class="needs-validation" novalidate>
                          <div class="alert alert-success d-none" role="alert" id="succ_msg_pass{{teacher.id}}">
                            A simple success alert—check it out!
                          </div>
                          <div class="alert alert-danger d-none" role="alert" id="err_msg_pass{{teacher.id}}">
                            A simple danger alert—check it out!
                          </div>
                          <input type="hidden" id="id_pass{{teacher.id}}" value="{{teacher.id}}">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="mb-3">
                                <label for="password{{teacher.id}}" class="form-label">New Password</label>
                                <div class="input-group">
                                  <input type="password" class="form-control p-2 rounded-start rounded-end-0"
                                    id="password{{teacher.id}}" name="password{{teacher.id}}" required>
                                  <button class="btn btn-light toggle-password shadow-none position-relative"
                                    type="button" onclick="togglePasswordVisibility('password{{teacher.id}}', this)">
                                    <i class="fa-solid fa-eye-slash"></i>
                                  </button>
                                </div>
                                <div class="text-danger mt-1" id="passError{{teacher.id}}"></div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="mb-3">
                                <label for="confirm_password{{teacher.id}}" class="form-label">Confirm New
                                  Password</label>
                                <div class="input-group">
                                  <input type="password" class="form-control p-2 rounded-start rounded-end-0"
                                    id="confirm_password{{teacher.id}}" name="confirm_password{{teacher.id}}" required>
                                  <button class="btn btn-light toggle-password shadow-none position-relative"
                                    type="button"
                                    onclick="togglePasswordVisibility('confirm_password{{teacher.id}}', this)">
                                    <i class="fa-solid fa-eye-slash"></i>
                                  </button>
                                </div>
                                <div class="text-danger mt-1" id="ConfirmError{{teacher.id}}"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row mt-4">
                            <div class="col-sm-12 text-sm-end">
                              <button id="submit_button_pass{{teacher.id}}" class="btn btn-success" type="button"
                                onclick="change_password_teacher(`{{teacher.id}}`)">
                                <span class="button-text">Submit form</span>
                                <span id="spinner_pass{{teacher.id}}" class="spinner-border spinner-border-sm d-none"></span>
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
              {%endfor%}
              {%else%}
              <tr>
                <th>No</th>
                <th>teacher Name</th>
                <th>teacher ID</th>
                <th>Action</th>
              </tr>
              {%endif%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end row -->

<script src="{{url_for('static', filename='admin/js/view_teachers.js')}}"></script>
{% endblock %}